/*Invitation message*/
$purple: rgba(195,87,116, 1);
$sandybrown: rgba(244,164,96, 1);
$whitesmoke: #f5f5f5;
$dark_moderate_red: #ae3c52;
$navy: #000080;
$font_junction: 'Junction', sans-serif;

.boolean--result {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 550px;
  margin: auto;
  margin-top: 20%;
  display: flex;
  background: linear-gradient(180deg,
    $sandybrown, $purple);
  border-radius: 15px;
  z-index: 4;
  .form--invitation {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .lbl--invite {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: $font_junction;
      font-size: 1.4rem;
      color: $purple;
      .img--invite {
        margin-left: 10px;
        border-radius: 50% 50%;
        object-fit: cover;
      }
      .span--invite {
        margin-left: 10px;
        color: #50bcfe;
        text-shadow: 2px 1px 1px $navy;
      }
    }
    .lbl--choicechat {
      margin-top: 20px;
      padding: 10px;
      display: flex;
      align-items: center;
      font-family: $font_junction;
      font-size: 1.4rem;
      .select--invite {
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 0.9rem;
        background: $sandybrown;
        border: 1px solid $purple;
        border-radius: 3px;
        color: $purple;
        .option--invite {
        }
      }
    }
    .btn--invitation {
      margin-top: 20px;
      padding: 5px 20px;
      font-size: 1.0rem;
      font-weight: bold;
      background: linear-gradient(180deg,
        $sandybrown, orangered, $dark_moderate_red);
      border: 1px solid $purple;
      border-radius: 7px;
      color: $whitesmoke;
      &:hover {
        background: $sandybrown;
        color: $dark_moderate_red;
      }
    }
    .btn--close {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 3px 7px;
      object-fit: cover;
      background: radial-gradient($sandybrown, $purple);
      border: 1px solid $sandybrown;
      border-radius: 100%;
      color: $purple;
      &:hover {
        background: $purple;
        color: $whitesmoke;
      }
    }
  }
}