/*
purple
orange
*/

.div--imgcompute {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
  background: linear-gradient(180deg, purple, orange);
  z-index: -1;

  .img--chatcomputerroom {
    opacity: 0.1;
  }
}

.title--computerroom {
  .compter--roomdb {
    margin-top: 120px;
    margin-left: 20px;
    font-family: "Acme", sans-serif;
    font-size: 2.4rem;
    color: whitesmoke;
    text-shadow: 2px 2px 1px purple,
    4px 3px 2px #242424;
  }
}

.computer--room {
  margin-top: 20px;
  
  .links--computer {
    font-family: "DejaVu Sans", sans-serif;
    cursor: pointer;

    .span--linktoroom {
      padding: 20px 0px;
      padding-left: 20px;
      margin: auto;
      margin-right: 20px;
      margin-left: 20px;
      display: flex;

      background-color: rgba(85, 45, 255, 0.6);
      border: 2mm outset rgba(85, 45, 255, 0.2);
      box-shadow: 0px 0px 4px slategrey;
      border-radius: 10px;

      text-decoration: none;
      color: whitesmoke;
      &:hover {
        background-color: rgba(85, 45, 255, 0.4);
        color: orange;
      }
      &:active {
        background-color: purple;
        color: lightgreen;
      }
    }
  }
}