.nextcomp--room {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(160deg, purple,
    orange);
  z-index: 1;
}

.div--animationroomStyle {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 85%;
  margin: auto;
  margin-top: 25%;
  display: flex;
  opacity: 0;

  animation-name: rotation--bg;
  animation-delay: 0s;
  animation-duration: 4s;
  animation-iteration-count: 1;
  z-index: 2;

  .rotation--roomstyle {
    margin: auto;
    font-family: "Junction", sans-serif;
    font-size: 2rem;
    background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 0;

    animation-name: rotation--room;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: linear;
  }
}

@keyframes rotation--bg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotation--room {
  0% {
    transform: rotate3d(2, -2, 1, 0deg);
    opacity: 1;
  }
  100% {
    transform: rotate3d(-3, 2, -3, 360deg);
    opacity: 1;
  }
}

/*Invitation message*/
.boolean--result {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 450px;
  height: 240px;
  margin: auto;
  margin-top: 20%;
  display: flex;

  background: linear-gradient(180deg,
    orange, purple);
  border-radius: 15px;
  z-index: 4;
}

.form--invitation {
  padding: 20px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lbl--invite {
  margin-top: 20px;
  font-family: "Junction";
  font-size: 1.4rem;
  font-weight: 600;
  color: purple;
  text-shadow: 2px 1px 1px navajowhite;
}

#users {
  margin-top: 20px;
}

.option--invite {
  margin-top: 20px;
}

.btn--invitation {
  margin-top: 20px;
  padding: 3px 10px;
}

.btn--close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  object-fit: cover;
  background: radial-gradient(orange, purple);
  border: 1px solid orange;
  border-radius: 50% 50%;
  color: black;
  &:hover {
    background: purple;
    color: whitesmoke;
  }
}





.title--room {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
  color: #50bcfe;
  text-shadow: 1px 1px 1px blue,
  3px 2px 2px whitesmoke;
}

.div--terminaluser {
  width: 90%;
  height: 75vh;
  margin: auto;
  display: flex;
  flex-direction: inline-block;

  background: transparent;
  border: 1px solid slategray;
  box-shadow: 0px 0px 4px slategray;
  border-radius: 15px 15px 15px 15px;

  .section--terminal {
    width: 80%;
    height: 100%;
    display: flex;
  }

  .div--worldbg {
    position: fixed;
    margin: auto;
    width: 90%;
    height: 75%;
    border-radius: 15px 15px 15px 15px;
    z-index: -1;
  }

  .img--bgterminal {
    border-radius: 15px 15px 15px 15px;
  }
}