$soft_blue: #93CAED;
$yellow: #ffff00;
$purple: #800080;
$sandybrown: #f4a460;
$orangered: #ff4500;
$whitesmoke: #f5f5f5;
$lightgrey_24: #242424;
$dark_moderate_red: #ae3c52;
$font_dejavu: 'DejaVu Sans', sans-serif;
$font_acme: 'Acme', sans-serif;

.box--confirminvitation {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 500px;
  margin: auto;
  margin-top: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(180deg,
    $sandybrown, $purple);
  border-radius: 15px;
  z-index: 2;
  .confirm {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $font_dejavu;
    font-size: 1.2rem;
    color: $purple;
    .span--confirmation {
      margin-right: 5px;
      margin-left: 5px;
      font-family: $font_acme;
      font-size: 1.8rem;
      text-shadow: 2px 1px 1px $purple;
      color: $soft_blue;
    }
  }
  .checkbox--div {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .input--validationInvite {
    background-color: $lightgrey_24;
    color: $whitesmoke;
    border: 1px solid $yellow;
  }
  .btn--validationlast {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-family: $font_dejavu;
    font-size: 0.9rem;
    font-weight: bold;
    background: linear-gradient(180deg,
      $sandybrown, $orangered, $dark_moderate_red);
    border: 1px solid $purple;
    border-radius: 7px;
    color: $whitesmoke;
    &:hover {
      background: $sandybrown;
      color: $dark_moderate_red;
    }
  }
}