$whitesmoke: #f5f5f5;
$soft_blue: #50bcfe;
$purple: rgba(195,87,116, 1);
$sandybrown: rgba(244,164,96, 1);
$orangered: #ff4500;
$dark_moderate_red: #ae3c52;
$font_acme: 'Acme', sans-serif;
$font_dejavu: 'DejaVu Sans', sans-serif;
$font_junction: 'Junction', sans-serif;

@mixin width-margin-display-align-flex($width){
  width: $width;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row; 
}

@mixin font-style($family, $size, $color){
  font-family: $family;
  font-size: $size;
  color: $color;
}

.invitation--display {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 700px;
  margin: auto;
  margin-top: 20%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(180deg,
    $sandybrown, $purple);
  border-radius: 15px;
  z-index: 10;
  .invitation--h4 {
    width: 600px;
    margin: auto;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-style($font_junction, 1.2rem, $purple);
    .span--h4 {
      margin-right: 10px;
      margin-left: 10px;
      @include font-style($font_acme, 1.6rem, $soft_blue);
      text-shadow: 2px 1px 1px $purple;
    }
  }
  .definedroom--display {
    @include width-margin-display-align-flex(80%);
    .invitation--p {
      margin-top: 0px;
      margin-bottom: 0px;
      @include font-style($font_dejavu, 1.2rem, $whitesmoke);
      .span--invitationp {
        margin-right: 10px;
        margin-left: 10px;
        @include font-style($font_acme, 1.8rem, $sandybrown);
        text-shadow: 2px 1px 1px $orangered;
      }
    }
    .checkbox--firstconfirm {
      @include width-margin-display-align-flex(30%);
      justify-content: space-around;
      .checkbox--lbl {
        font-weight: bold;
      }
    }
  }
  .btn--displayotheruser {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    @include font-style($font_dejavu, 1.0rem, $whitesmoke);    
    font-weight: bold;
    background: linear-gradient(180deg,
      $sandybrown, $orangered, $dark_moderate_red);
    border: 1px solid $purple;
    border-radius: 7px;
    &:hover {
      background: $sandybrown;
      color: $dark_moderate_red;
    } 
  }
}


