.div--navfooter {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: auto;
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: purple;
  border-top: 1px solid slategray;
  box-shadow: 0px 0px 10px slategray;

  .navbar--ul {
    width: 96vw;
    margin: auto;
    display: flex;
    justify-content: center;

  }

  .navbar--nav .navbar--ul .navbar--li {
    margin: auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    font-family: 'Consolase';
    font-size: 1.4rem;
    color: whitesmoke;
  }
}