$darkorchid: #9932cc;
$pink: #ffc0cb;
$sandybrown: #f4a460;
$font_acme: 'Acme', sans-serif;

@mixin margin-padding($width, $height,
  $padding-top, $margin, $margin-top){
    width: $width;
    height: $height;
    padding-top: 20px;
    margin: auto;
    margin-top: 140px;
}

@mixin custom-twix($top, $bottom, $left, $size, $transform, $color){
  margin-top: $top;
  margin-bottom: $bottom;
  margin-left: $left;
  font-size: $size;
  transform: $transform;
  color: $color;
}

@mixin margin-top-left-size(){
  margin-top: 20px;
  margin-left: -200px;
  font-size: 3.8rem;
}

@mixin margin-font($size){
  margin-top: -10px;
  font-size: $size;
}

.maintitle {
  padding-top: 60px;
  @include margin-padding(500px, 150px, 60px, auto, 80px);
  text-align: center;
  font-family: $font_acme;
  border: none;
  outline: none;
  .main--h1 {
    width: 800px;
    @include custom-twix(-50px, 0px, -140px,
      7rem, rotateZ(-8deg), rgba(244,164,96, 1));
    text-shadow: -5px -4px 1px rgba(195,87,116, 1),
      -7px -6px 10px #161616;
  }
  .main--h2 {
    margin: auto;
    @include custom-twix(-25px, 15px, 40px,
      3.4rem, rotateZ(-10deg), $sandybrown);
    text-shadow: -5px -4px 1px rgba(195,87,116, 1),
      -7px -6px 7px #161616;
  }
  .main--h4 {
    margin: auto;
    @include custom-twix(-10px, 10px, 60px,
      1.1rem, rotateZ(-10deg), $pink);
    text-shadow: -2px -2px 1px $darkorchid,
      -4px -4px 5px #383838;
  }
}

@media only screen and (min-width: 360px) and (max-width: 900px) {
  .maintitle {
    @include margin-padding(380px, 200px, 20px, auto, 140px);
    background: linear-gradient(180deg, rgba(112, 43, 183, 0.2),
      rgba(112, 43, 183, 0.4));
    border-radius: 50%;
    .div--bamimg {
      .bam--img {
      }
    }
    .main--h1 {
      @include margin-top-left-size();
    }
    .main--h2 {
      @include margin-font(2.2rem);
    }
    .main--h4 {
      font-size: 0.9rem;
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1068px) {
  .maintitle {
    @include margin-padding(380px, 200px, 20px, auto, 140px);
    background: linear-gradient(180deg, rgba(112, 43, 183, 0.2),
      rgba(112, 43, 183, 0.4));
    border-radius: 20px;
    .div--bamimg {
      .bam--img {
      }
    }
    .main--h1 {
      @include margin-top-left-size();
    }
    .main--h2 {
      @include margin-font(2.8rem);
    }
    .main--h4 {
      font-size: 1.0rem;
    }
  }
}