.master--maincomp {
  width: 40%;
  height: auto;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;

  .bg--colormaincomp {
    margin: auto;
    margin-top: 40px;
    padding-bottom: 20px;

    background-color: rgba(45, 85, 255, 0.4);
    border: 1mm outset rgba(180, 85, 255, 0.2);
    border-radius: 15px;
  }

  .h2--maincomp {
    text-align: center;
    font-family: "Junction";
    color: whitesmoke;
    text-shadow: 2px 2px 1px purple,
    4px 3px 2px #000;
  }

  .h3--maincomp {
    text-align: center;
    font-family: "Junction";
    text-shadow: 2px 1px 1px purple; 
    color: whitesmoke;
  }

  .div--connection {
    width: 80%;
    padding: 5px 5px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    
    font-family: "DejaVu Sans";
    font-size: 1.1rem;
    font-weight: bold;
    color: lightblue;

    background-color: rgba(85, 45, 255, 0.4);
    border: 1mm outset rgba(150, 45, 255, 0.4);
    outline: none;
    border-radius: 7px;

    .img--connector {
      margin-right: 10px;
      margin-left: 10px;
      border-radius: 50% 50%;
      object-fit: cover;
    }
  }
}