.maintitle {
  width: 40%;
  height: auto;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  font-family: "Junction", sans-serif;
  color: lightgrey;
  text-shadow: 3px 3px 2px darkorchid,
    4px 4px 3px #000;
  background-color: rgba(45, 85, 255, 0.4);
  border: 1mm outset rgba(180, 85, 255, 0.2);
  border-radius: 15px;
}