/*
ligtblue
"Acme", sans-serif;
*/

.master--maincomp {
  width: 40%;
  height: auto;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  .bg--colormaincomp {
    margin: auto;
    margin-top: 40px;
    padding-bottom: 20px;
    background-color: rgba(45, 85, 255, 0.4);
    border: 1mm outset rgba(180, 85, 255, 0.2);
    border-radius: 15px;
    .h2--maincomp {
      text-align: center;
      font-family: "Acme", sans-serif;
      font-size: 2.4rem;
      text-shadow: 2px 2px 5px purple;
      color: sandybrown;
      .span--lengthuser {
        text-shadow: 2px 2px 5px purple;
        color: pink;
      }
    }
    .h3--maincomp {
      text-align: center;
      font-family: "Acme", sans-serif;
      font-size: 1.8rem;
      text-shadow: 2px 1px 1px purple;
      color: sandybrown;
    }
  }
  .div--connection {
    width: 80%;
    padding: 5px 5px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 1.1rem;
    color: lightblue;
    background-color: rgba(85, 45, 255, 0.4);
    border: 1mm outset rgba(150, 45, 255, 0.4);
    outline: none;
    border-radius: 7px;
    .img--connector {
      margin-right: 10px;
      margin-left: 10px;
      border-radius: 50% 50%;
      object-fit: cover;
    }
    .data--maincomp {
      font-family: "Junction", sans-serif;
      font-size: 1.2rem;
      color: lightgreen;
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 1050px) {
  .master--maincomp {
    width: 360px;
    height: auto;
    margin: auto;
    margin-top: -220px;
    margin-bottom: 40px;
    .bg--colormaincomp {
      padding-bottom: 5px;
      .h2--maincomp {
        font-size: 1.6rem;
      }
      .h3--maincomp {
        font-size: 1.4rem;
      }
    }  
    .div--connection {
      width: auto;
      width: 80%;
      font-size: 0.9rem;
      .img--connector {
        margin-right: 3px;
        margin-left: 3px;
      }
      .data--maincomp {
        font-size: 0.9rem;
      }
    }
  }
}
