.master--maincomp {
  width: 40%;
  height: auto;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;

  .bg--colormaincomp {
    margin: auto;
    margin-top: 40px;
    padding-bottom: 20px;

    background-color: rgba(45, 85, 255, 0.4);
    border: 1mm outset rgba(150, 120, 255, 0.4);
    border-radius: 15px;
  }

  .h2--maincomp {
    text-align: center;
    font-family: "Junction";
    color: whitesmoke;
    text-shadow: 2px 2px 1px purple,
    4px 3px 2px #000;
  }

  .h3--maincomp {
    text-align: center;
    font-family: "Junction";
    text-shadow: 2px 1px 1px purple; 
    color: whitesmoke;
  }

  .div--connection {
    width: 80%;
    padding: 5px 5px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    
    font-size: 1.1rem;

    font-family: "DejaVu Sans";
    color: lightblue;

    background-color: rgba(45, 85, 255, 0.6);
    border: 2mm ridge royalblue;
    border-radius: 7px;
    box-shadow: 0px 0px 4px royalblue;

    .img--connector {
      margin-right: 10px;
      border-radius: 50% 50%;
      object-fit: cover;
    }
  }
}