$purple: rgba(195,87,116, 1);
$font_junction: 'Junction', sans-serif;

.response--private {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 30;
  .section--response {
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 22%;
    background: linear-gradient(180deg, $purple, rgba(244,164,96, 1));
    border-radius: 15px;
    box-shadow: 0px 0px 4px lightgrey;
    .title--response {
      text-align: center;
      font-family: 'Junction', sans-serif;
      color: whitesmoke;
      text-shadow: 2px 1px 1px $purple,
      4px 2px 2px #000,
      6px 3px 3px $purple;
      .title--subresponse {
        color: rgba(244,164,96, 1);
      }
    }
    .p--response {
      text-align: center;
      font-family: $font_junction;
      font-size: 1.2rem;
      font-weight: bold;
      color: whitesmoke;
      text-shadow: 2px 1px 1px $purple,
      4px 2px 2px #000,
      6px 3px 3px $purple;
      .span--response {
        color: rgba(244,164,96, 1);  
      }
    }
    .btn--response {
      width: 70px;
      height: 30px;
      padding: 5px auto;
      margin: auto;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      background-color: rgba(45, 85, 255, 0.6);
      border: 1mm outset rgba(150, 85, 255, 0.4);
      border-radius: 7px;
      color: whitesmoke;
      &:hover {
        background-color: rgba(45, 85, 255, 0.8);
        border: 1mm outset rgba(45, 85, 255, 0.6);
      }
    }
  }
}