@import './App.scss';
@import './stylePages/Login.scss';
@import './stylePages/Home.scss';
@import './stylePages/Profile.scss';
@import './stylePages/Online.scss';
@import './pages/volets/VoletRight.scss';
@import './pages/volets/VoletLeft.scss';
@import './components/styleComponents/AskMessageBox.scss';
@import './components/styleComponents/ChatComputer.scss';
@import './components/styleComponents/ComputerRoom.scss';
@import './components/styleComponents/Footer.scss';
@import './components/styleComponents/MainTitle.scss';
@import './components/styleComponents/MainComp.scss';
@import './components/styleComponents/NavBar.scss';
@import './components/styleComponents/ResponsePrivateMsg.scss';
@import './components/styleComponents/DisplayInvitationOtherUsr.scss';
@import './components/styleComponents/ConfirmInvitation.scss';
@import './components/terminalchat/TerminalComponent.scss';
@import './components/terminalchat/UsersOnline.scss';
@import './components/privatechat/PrivateMessage.scss';

@import "@fontsource/junction";
@import "@fontsource/dejavu-sans";
@import "@fontsource/allura";
@import "@fontsource/acme";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
