/*Left volet*/
.volet--L {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  bottom: 0px;
  min-height: 100vh;
  overflow: hidden;
}

@keyframes volet--leftdisplay {
  0% {
    transform: translateX(-400px);
    overflow: hidden;
  }
  100% {
    transform: translateX(0px);
    overflow: hidden;
  }
}

.subvolet--L {
  position: relative;
  top: 0px;
  left: 0px;
  width: 400px;
  min-height: 100vh;
  background-color: rgba(45, 85, 255, 0.4);
  transform: translateX(0px);

  animation-name: volet--leftdisplay;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  z-index: 11;
}

.subvolet--L .btn--volet {
  margin-top: 10px;
  margin-left: 350px;
  width: 30px;
  height: 30px;

  border-radius: 50% 50%;
  background: transparent;
  color: whitesmoke;
  &:hover {
    cursor: pointer;
    background: rgba(0, 155, 255, 0.5);
    color: lightgreen;
  }
}

.subvolet--L p {
  margin: 20px 20px;
  padding: 5px 10px;
  text-align: center;
  background-color: rgba(45, 85, 255, 0.6);
  border: 2mm ridge royalblue;
  border-radius: 5px;
  font-weight: bold;
  color: whitesmoke;
}

.section--voletl {
  margin: 0px 20px;
  padding: 10px 40px;
  background-color: rgba(45, 85, 255, 0.6);
  border: 2mm ridge royalblue;
  border-radius: 10px;
}

.span {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Search UserName*/
.form--search {
  margin: 20px 0px;
  margin-left: 40px;
  display: inline-block;
  align-items: center;
}

.search--input {
  margin: auto;
  padding: 3px 10px;
  font-size: 1.0rem;
  color: whitesmoke;
  border: 3px inset rgba(45, 85, 255, 0.6);
  background-color: rgba(45, 85, 255, 0.6);
}

.search--input::placeholder {
  color: whitesmoke;
  opacity: 1;
}

.btn--search {
  padding: 7px 10px;
  margin: auto;
  margin-top: 0px;
  margin-left: 10px;
  font-weight: bold;
  border: 1px solid royalblue;
  outline: 0;
  border-radius: 7px;
  background-color: royalblue;
  &:hover {
    background-color: rgba(45, 85, 255, 0.4);
    border: 1px solid rgba(45, 85, 255, 0.4);
  }
}

.result--search {
  margin: auto;
  display: flex;
  justify-content: center;
}

.li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px dashed whitesmoke;
}

.link--tagvoletl {
  margin: 2px 0px;
  text-decoration: none;
  font-family: 'Consolas';
  font-size: 1.2rem;
  color: whitesmoke;
  &:hover {
    color: steelblue;
  }
}

.volet--L2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  min-height: 100vh;
  overflow: hidden;
}

.subvolet--L2 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 400px;
  min-height: 100vh;
  background-color: rgba(45, 85, 255, 0.4);
  transform: translateX(-400px);

  animation-name: volet--lefthidden;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  z-index: 11;
}

@keyframes volet--lefthidden {
  0% {
    transform: translateX(0px);
    overflow: hidden;
  }
  100% {
    transform: translateX(-400px);
    overflow: hidden;
  }
}

.subvolet--L2 .btn--volet {
  margin-top: 10px;
  margin-left: 350px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50% 50%;
  color: whitesmoke;
}

.subvolet--L2 p {
  margin: 20px 20px;
  padding: 5px 10px;
  text-align: center;
  background-color: rgba(45, 85, 255, 0.6);
  border: 2mm ridge royalblue;
  font-weight: bold;
  color: whitesmoke;
}
