/*VOLETS*/
/*Right volet*/

.volet--R {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 400px;
  min-height: 100%;
  overflow: hidden;
}

@keyframes volet--rightdisplay {
  0% {
    transform: translateX(300px);
    overflow: hidden;
  }
  100% {
    transform: translateX(0px);
    overflow: hidden;
  }
}

.subvolet--R {
  position: relative;
  top: 0px;
  right: 0px;
  width: 400px;
  min-height: 120vh;
  background-color: royalblue;
  border-left: 1px solid blue;

  transform: translateX(0px);

  animation-name: volet--rightdisplay;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  z-index: 5;
}

.subvolet--R button {
  margin: 10px 10px;
  width: 30px;
  height: 30px;

  border-radius: 50% 50%;
  background: dimgrey;
  color: lightgreen;
  &:hover {
    cursor: pointer;
    background: grey;
    color: whitesmoke;
  }
}

.subvolet--R p {
  margin: 20px 20px;
  padding: 5px 10px;
  text-align: center;
  background: lightblue;
  border: 2mm ridge royalblue;
  box-shadow: 0px 0px 4px whitesmoke;
  border-radius: 5px;
  color: royalblue;
}

.subvolet--R img {
  margin: -10px 0px;
  width: 60%;
  margin: auto;
  display: flex;
  background: royalblue;
  color: whitesmoke;
}

.section--voletr {
  margin: 20px 20px;
  padding: 20px 40px;
  background: lightblue;
  border: 2mm ridge royalblue;
  box-shadow: 0px 0px 4px whitesmoke;
  border-radius: 10px;
}

.li--right {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed blue;
  color: royalblue;
  &:hover {
    color: orange;
  }
}

.link--tagvoletr {
  text-decoration: none;
  font-weight: bold;
  color: royalblue;
}

.link--tagvoletr:hover {
  color: navy;
}


.volet--R2 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 400px;
  min-height: 100%;
  overflow: hidden;
}

.subvolet--R2 {
  position: relative;
  width: 400px;
  top: 0px;
  right: -400px;
  width: 400px;
  min-height: 120vh;
  background-color: royalblue;
  border-left: 1px solid blue;

  transform: translateX(0px);

  animation-name: volet--righthidden;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  z-index: 5;
}

@keyframes volet--righthidden {
  0% {
    transform: translateX(-400px);
    overflow: hidden;
  }
  100% {
    transform: translateX(0px);
    overflow: hidden;
  }
}

.subvolet--R2 button {
  margin: 10px 10px;
  width: 30px;
  height: 30px;

  border-radius: 50% 50%;
  background: dimgrey;
  color: lightgreen;
  &:hover {
    cursor: pointer;
    background: grey;
    color: whitesmoke;
  }
}

.subvolet--R2 p {
  margin: 20px 20px;
  padding: 5px 10px;
  text-align: center;
  background: lightblue;
  border: 2mm ridge royalblue;
  box-shadow: 0px 0px 4px whitesmoke;
  border-radius: 5px;
  color: royalblue;
}

.subvolet--R2 img {
  margin: -10px 0px;
  width: 60%;
  margin: auto;
  display: flex;
  background: royalblue;
  color: whitesmoke;
}