/*Right volet*/
.volet--R {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 400px;
  min-height: 100vh;
  overflow: hidden;
}

@keyframes volet--rightdisplay {
  0% {
    transform: translateX(300px);
    overflow: hidden;
  }
  100% {
    transform: translateX(0px);
    overflow: hidden;
  }
}

.subvolet--R {
  position: relative;
  top: 0px;
  right: 0px;
  width: 400px;
  min-height: 100vh;
  background-color: rgba(45, 85, 255, 0.4);
  transform: translateX(0px);

  animation-name: volet--rightdisplay;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  z-index: 11;
}

.subvolet--R button {
  margin-top: 10px;
  margin-left: 20px;
  width: 30px;
  height: 30px;

  background: transparent;
  border: 1mm outset rgba(150, 45, 255, 0.4);
  border-radius: 50% 50%;
  color: whitesmoke;

  &:hover {
    cursor: pointer;
    background-color: rgba(85, 45, 255, 0.4);
    border: 1mm outset rgba(85, 45, 255, 0.4);
    color: lightgreen;
  }
}

.subvolet--R p {
  margin: 20px 20px;
  padding: 5px 10px;
  text-align: center;
  background-color: rgba(85, 45, 255, 0.4);
  border: 1mm outset rgba(150, 45, 255, 0.4);
  border-radius: 5px;
  font-weight: bold;
  color: whitesmoke;
}

.subvolet--R img {
  margin: -10px 0px;
  width: 60%;
  margin: auto;
  display: flex;
}

.section--voletr {
  margin: 20px 20px;
  padding: 20px 40px;
  background-color: rgba(85, 45, 255, 0.4);
  border: 1mm outset rgba(150, 45, 255, 0.4);
  border-radius: 10px;
}

.li--right {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed whitesmoke;
  color: whitesmoke;
  &:hover {
    color: orange;
  }
}

.link--tagvoletr {
  margin: 2px 0px;
  text-decoration: none;
  font-family: 'Junction';
  font-size: 1.0rem;
  color: whitesmoke;

  &:hover {
    color: orange;
  }
}

.volet--R2 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 400px;
  min-height: 100vh;
  overflow: hidden;
}

.subvolet--R2 {
  position: relative;
  width: 400px;
  top: 0px;
  right: -400px;
  width: 400px;
  min-height: 100vh;
  background-color: rgba(45, 85, 255, 0.4);
  transform: translateX(0px);

  animation-name: volet--righthidden;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  z-index: 11;
}

@keyframes volet--righthidden {
  0% {
    transform: translateX(-400px);
    overflow: hidden;
  }
  100% {
    transform: translateX(0px);
    overflow: hidden;
  }
}

.subvolet--R2 button {
  margin-top: 10px;
  margin-left: 20px;
  width: 30px;
  height: 30px;

  background: transparent;
  border: 1mm outset rgba(150, 45, 255, 0.4);
  border-radius: 50% 50%;
  color: whitesmoke;

  &:hover {
    cursor: pointer;
    background-color: rgba(85, 45, 255, 0.4);
    border: 1mm outset rgba(85, 45, 255, 0.4);
    color: lightgreen;
  }
}

.subvolet--R2 p {
  margin: 20px 20px;
  padding: 5px 10px;
  text-align: center;
  background-color: rgba(85, 45, 255, 0.4);
  border: 1mm outset rgba(150, 45, 255, 0.4);
  border-radius: 5px;
  font-weight: bold;
  color: whitesmoke;
}

.subvolet--R2 img {
  margin: -10px 0px;
  width: 60%;
  margin: auto;
  display: flex;
}