$orangered: #ff4500;
$sandybrown: #f4a460;
$darkmagenta: #8B008B;
$whitesmoke: #f5f5f5;
$lightgrey_16: #161616;
$font_acme: 'Acme', sans-serif;

.div--home {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  min-height: 120vh;
  background: linear-gradient(90deg,
    sandybrown 10%, rgba(195,87,116, 1) 100%);
  .img--home {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 90%;
    height: 70%;
    margin: auto;
    opacity: 0;
    z-index: 1;
  }
  /*.wallIntro {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    min-height: 100%;
    background-color: $lightgrey_16;
    overflow: hidden;
    opacity: 0;

    animation-name: wall;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: ease;
    .wallIntro--h1 {
      margin-top: 25%;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      font-family: $font_acme;
      font-size: 9rem;
      text-shadow: 5px 3px 1px $orangered,
        8px 5px 10px $whitesmoke;
      color: $sandybrown;

      animation-name: main--titleintro;
      animation-delay: 0s;
      animation-duration: 4s;
      animation-timing-function: ease;
      animation-direction: linear;
      animation-iteration-count: 1;
    }
  }*/

  @keyframes main--titleintro {
    0% {
      opacity: 1;
      transform: scale(0);
      z-index: 22;
    }
    40% {
      opacity: 1;
      transform: scale(1.4);
      z-index: 22;
    }
    45% {
      opacity: 1;
      transform: scale(0.8);
      z-index: 22;
    }
    50% {
      opacity: 1;
      transform: scale(1.8);
      z-index: 22;
    }
    100% {
      opacity: 0;
      transform: scale(0);
      z-index: 22;
    }
  }

  @keyframes wall {
    0% {
      opacity: 1;
      z-index: 22;
    }
    70% {
      opacity: 1;
      z-index: 22;
    }
    100% {
      opacity: 0;
      z-index: 22;
    }
  }
  .div--voletsLeft {
    position: absolute;
    margin-top: 12%;
    margin-left: 8%;
    border-radius: 15px;
    z-index: 3;
    .btn--voletLeft {
      padding: 20px 40px;
      font-family: $font_acme;
      font-size: 1.4rem;
      color: rgba(128, 0, 128, 0.4);
      background: linear-gradient(90deg, $sandybrown, rgba(195,87,116, 0.6));
      border: none;
      outline: none;
      border-radius: 40px;
      transition: background 2s, transform 2s;
      &:hover {
        transition: ease;
        transition-duration: 2s;

        background: linear-gradient(90deg, $sandybrown, rgba(195,87,116, 1));

        color: $whitesmoke;
        cursor: pointer;
      }
      &:active {
        transform: scale(0.5);
        transition: ease;
        transition-duration: 2s;
        border: none;
        outline: none;
      }
    }
    .webdevanim {
      margin-top: 250px;
      justify-content: space-between;
      font-family: $font_acme;
      font-size: 1.4rem;
      color: rgba(195,87,116, 1);

      animation-name: rotate-logo;
      animation-delay: 0s;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out infinite;
      animation-direction: alternate;
    }
  }
  .div--voletsRight {
    position: absolute;
    right: 0px;
    margin-top: 12%;
    margin-right: 8%;
    border-radius: 15px;
    z-index: 3;
    .btn--voletRight {
      padding: 20px 40px;
      font-family: $font_acme;
      font-size: 1.4rem;
      font-weight: bold;
      color: rgba(128, 0, 128, 0.4);
      background: linear-gradient(90deg,
        rgba(244,164,96, 1) 10%, rgba(195,87,116, 0.6) 100%);
      border: none;
      outline: none;
      border-radius: 40px;
      transition: background 2s, transform 2s;
      &:hover {
        transition: ease;
        transition-duration: 2s;
        background: linear-gradient(90deg,
          rgba(244,164,96, 1) 0%, rgba(195,87,116, 1) 100%);
        color: $whitesmoke;
        cursor: pointer;
      }
      &:active {
        transform: scale(0.5);
        transition: ease;
        transition-duration: 2s;
        border: none;
        outline: none;
      }
    }
    .computinganim {
      margin-top: 250px;
      justify-content: space-between;
      font-family: $font_acme;
      font-size: 1.4rem;
      color: $sandybrown;

      animation-name: rotate-logo-2;
      animation-delay: 0s;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out infinite;
      animation-direction: linear;
    }
  }

  @keyframes rotate-logo {
    0% {
      transform: rotate3d(0, 0, 0, 0deg);
    }
    25% {
      transform: rotate3d(3, -2, 3, 360deg);
    }
  }

  @keyframes rotate-logo-2 {
    0% {
      transform: rotate3d(2, -2, -2, 0deg);
    }
    10% {
      transform: rotate3d(3, -2, 3, 90deg);
    }
    20% {
      transform: rotate3d(-1, 2, -1, 180deg);
    }
    30% {
      transform: rotate3d(-3, 0, -3, 90deg);
    }
    40% {
      transform: rotate3d(-3, -2, -2, 180deg);
    }
    50% {
      transform: rotate3d(3, 0, 3, 90deg);
    }
    60% {
      transform: rotate3d(-3, 2, -2, 180deg);
    }
    70% {
      transform: rotate3d(0, -1, 0, 180deg);
    }
    80% {
      transform: rotateX(360deg);
    }
    90% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}

@media screen and (max-width: 800px) {
  .img--home {
    width: 600px;
    height: 400px;
  }
}

@media screen and (min-width: 360px) and (max-width: 1050px) {
  .div--home {
    background: radial-gradient(800px at 50% 20%, 
      $sandybrown, $darkmagenta);
    .img--home {
    }
    .wallIntro {
    }
    .div--voletsLeft {
      margin-top: 380px;
      margin-left: 12%;
      .btn--voletLeft {
        padding: 10px 20px;
        font-family: $font_acme;
        font-size: 0.9rem;
      }
      .webdevanim {
        display: none;
      }
    }
    .div--voletsRight {
      margin-top: 380px;
      margin-right: 12%;
      .btn--voletRight {
        padding: 10px 20px;
        font-family: $font_acme;
        font-size: 0.9rem;
      }
      .computinganim {
        display: none;
      }
    }
  }
}