$orangered: #ff4500;
$sandybrown: #f4a460;
$darkmagenta: #8B008B;
$whitesmoke: #f5f5f5;
$lightgrey_16: #161616;
$font_acme: 'Acme', sans-serif;

@mixin params-anim($color){
  margin-top: 250px;
  justify-content: space-between;
  font-family: $font_acme;
  font-size: 1.4rem;
  color: $color;
}

@mixin animation-home($name, $delay, $duration, $count, $function, $direction){
  animation-name: $name;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-iteration-count: $count;
  animation-timing-function: $function;
  animation-direction: $direction;
}

@keyframes rotate-logo {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  25% {
    transform: rotate3d(3, -2, 3, 360deg);
  }
}

@keyframes rotate-logo-2 {
  0% {
    transform: rotate3d(2, -2, -2, 0deg);
  }
  10% {
    transform: rotate3d(3, -2, 3, 90deg);
  }
  20% {
    transform: rotate3d(-1, 2, -1, 180deg);
  }
  30% {
    transform: rotate3d(-3, 0, -3, 90deg);
  }
  40% {
    transform: rotate3d(-3, -2, -2, 180deg);
  }
  50% {
    transform: rotate3d(3, 0, 3, 90deg);
  }
  60% {
    transform: rotate3d(-3, 2, -2, 180deg);
  }
  70% {
    transform: rotate3d(0, -1, 0, 180deg);
  }
  80% {
    transform: rotateX(360deg);
  }
  90% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.div--home {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  min-height: 120vh;
  background: linear-gradient(90deg,
    sandybrown 10%, rgba(195,87,116, 1) 100%);
  .img--home {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 90%;
    height: 70%;
    margin: auto;
    opacity: 0;
    z-index: 1;
  }
  .div--voletsLeft {
    position: absolute;
    margin-top: 12%;
    margin-left: 8%;
    border-radius: 15px;
    z-index: 3;
    .btn--voletLeft {
      padding: 20px 40px;
      
      font-family: $font_acme;
      font-size: 1.4rem;
      color: rgba(128, 0, 128, 0.4);

      background: linear-gradient(90deg,
        $sandybrown, rgba(195,87,116, 0.6));
      border: none;
      outline: none;
      border-radius: 40px;
      transition: background 2s, transform 2s;
      &:hover {
        transition: ease;
        transition-duration: 2s;
        background: linear-gradient(90deg,
          $sandybrown, rgba(195,87,116, 1));
        color: $whitesmoke;
        cursor: pointer;
      }
      &:active {
        transform: scale(0.5);
        transition: ease;
        transition-duration: 2s;
        border: none;
        outline: none;
      }
    }
    .webdevanim {
      @include params-anim(rgba(195,87,116, 1));
      @include animation-home(rotate-logo,
        0s, 3s, infinite, ease-in-out, alternate);
    }
  }
  .div--voletsRight {
    position: absolute;
    right: 0px;
    margin-top: 12%;
    margin-right: 8%;
    border-radius: 15px;
    z-index: 3;
    .btn--voletRight {
      padding: 20px 40px;
      
      font-family: $font_acme;
      font-size: 1.4rem;
      font-weight: bold;
      color: rgba(128, 0, 128, 0.4);

      background: linear-gradient(90deg,
        rgba(244,164,96, 1) 10%,
        rgba(195,87,116, 0.6) 100%);
      border: none;
      outline: none;
      border-radius: 40px;
      transition: background 2s, transform 2s;
      &:hover {
        transition: ease;
        transition-duration: 2s;
        background: linear-gradient(90deg,
          rgba(244,164,96, 1) 0%,
          rgba(195,87,116, 1) 100%);
        color: $whitesmoke;
        cursor: pointer;
      }
      &:active {
        transform: scale(0.5);
        transition: ease;
        transition-duration: 2s;
        border: none;
        outline: none;
      }
    }
    .computinganim {
      @include params-anim($sandybrown);
      @include animation-home(rotate-logo-2,
        0s, 8s, infinite, ease-in-out, linear);
    }
  }
}

@media screen and (max-width: 800px) {
  .img--home {
    width: 600px;
    height: 400px;
  }
}

@media screen and (min-width: 360px) and (max-width: 1050px) {
  .div--home {
    .img--home {
      border: 1px solid blue;
    }
    .wallIntro {
      .wallIntro-h1 {
        margin-left: 0px;
        border: 1px solid blue;
      }
    }
    .div--voletsLeft {
      margin-top: 380px;
      margin-left: 12%;
      .btn--voletLeft {
        padding: 10px 20px;
        font-family: $font_acme;
        font-size: 0.9rem;
      }
      .webdevanim {
        display: none;
      }
    }
    .div--voletsRight {
      margin-top: 380px;
      margin-right: 12%;
      .btn--voletRight {
        padding: 10px 20px;
        font-family: $font_acme;
        font-size: 0.9rem;
      }
      .computinganim {
        display: none;
      }
    }
  }
}