#root {
  width: 100%;
}

.wallIntro {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #161616;
  opacity: 0;

  animation-name: wall;
  animation-delay: 0s;
  animation-duration: 3s;
  animation-timing-function: ease;
  z-index: 3;
}

@keyframes wall {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.wallIntro h1 {
  padding: 20px 0px;
  margin-top: 23%;
  text-align: center;
  font-family: 'Consolas';
  font-size: 3rem;
  background-color: #242424;
  border-top: 1px solid slategray;
  border-bottom: 1px solid slategray;
  box-shadow: 0px 0px 10px slategray;
}

.btn--voletsLeft {
  position: absolute;
  margin-top: 10%;
  margin-left: 5%;
  border-radius: 15px;
  z-index: 4;
}

.btn--voletsRight {
  position: absolute;
  right: 0px;
  margin-top: 10%;
  margin-right: 5%;
  border-radius: 15px;
  z-index: 4;
}

.btn--voletsLeft button {
  padding: 20px 40px;
  background-color: #161616;
  border-radius: 7px;
  box-shadow: inset 0px 50px 25px 0 #000, 
    inset 0 66px 15px 0px #ccc,
    inset 0 99px 5px 0px #fff;
  &:hover {
    box-shadow: inset 0px 50px 25px 0 #fff, 
      inset 0 66px 15px 0px #ccc,
      inset 0 99px 5px 0px #000;
    color: #000;
  }
}

.btn--voletsRight button {
  padding: 20px 40px;
  background-color: #161616;
  border-radius: 7px;
  box-shadow: inset 0px 50px 25px 0 #000, 
    inset 0 66px 15px 0px #ccc,
    inset 0 99px 5px 0px #fff;
  &:hover {
    box-shadow: inset 0px 50px 25px 0 #424242, 
      inset 0 66px 15px 0px #aaa,
      inset 0 99px 5px 0px #161616;
    color: lightgreen;
  }
}

/*VOLETS*/

.firstVolet--R {
}

.volet--R {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  min-height: 120vh;
  overflow: hidden;
}

@keyframes volet--rightdisplay {
  0% {
    transform: translateX(300px);
    overflow: hidden;
  }
  100% {
    transform: translateX(0px);
    overflow: hidden;
  }
}

.subvolet--R {
  position: relative;
  top: 0px;
  right: 0px;
  width: 300px;
  min-height: 120vh;
  background-color: #383838;
  border-left: 1px solid orange;
  box-shadow: 0px 0px 5px red;

  transform: translateX(0px);
  animation-name: volet--rightdisplay;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  z-index: 5;
}

.subvolet--R button {
  margin: 10px 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: dimgrey;
  color: lightgreen;
}

.subvolet--R p {
  margin: 20px 20px;
  padding: 5px 10px;
  background: dimgrey;
  color: lightgreen;
}

.volet--R2 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  min-height: 120vh;
  overflow: hidden;
}

.subvolet--R2 {
  position: relative;
  width: 300px;
  top: 0px;
  right: -300px;
  width: 300px;
  min-height: 120vh;
  background-color: #383838;
  border-left: 1px solid orange;
  box-shadow: 0px 0px 5px red;

  transform: translateX(0px);
  animation-name: volet--righthidden;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  z-index: 5;
}

@keyframes volet--righthidden {
  0% {
    transform: translateX(-300px);
    overflow: hidden;
  }
  100% {
    transform: translateX(0px);
    overflow: hidden;
  }
}

.subvolet--R2 button {
  margin: 10px 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: dimgrey;
  color: lightgreen;
}

.subvolet--R2 p {
  margin: 20px 20px;
  padding: 5px 10px;
  background: dimgrey;
  color: lightgreen;
}

.volet--L {
  position: absolute;
  top: 0px;
  left: -300px;
  width: 300px;
  min-height: 120vh;

  background-color: #383838;
  border-right: 1px solid orange;
  box-shadow: 0px 0px 5px red;
  
  transform: translateX(300px);
  animation-name: volet--leftdisplay;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  z-index: 5;
  overflow: hidden;
}

@keyframes volet--leftdisplay {
  0% {
    transform: translateX(0px);
    overflow: hidden;
  }
  100% {
    transform: translateX(300px);
    overflow: hidden;
  }
}

.subvolet--L {
  position: relative;
  width: 300px;
  margin-top: 10px;
  right: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: right;
}

.volet--L2 {
  position: absolute;
  top: 0px;
  left: -300px;
  width: 300px;
  min-height: 120vh;
  
  background-color: #383838;
  border-right: 1px solid orange;
  box-shadow: 0px 0px 5px red;
  
  transform: translateX(0px);
  animation-name: volet--lefthidden;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  z-index: 5;
  overflow: hidden;
}

@keyframes volet--lefthidden {
  0% {
    transform: translateX(300px);
    overflow: hidden;
  }
  100% {
    transform: translateX(0px);
    overflow: hidden;
  }
}

.subvolet--L2 {
  width: 300px;
  overflow: hidden;
}