$orange: #ffa500;
$purple: #800080;
$mediumpurple: mediumpurple;
$whitesmoke: #f5f5f5;
$lightgrey_24: #242424;
$lightgrey_28: #282828;
$lightgrey_42: #424242;
$font_acme: 'Acme', sans-serif;
$font_dejavu: 'DejaVu Sans', sans-serif;
$font_junction: 'Junction', sans-serif;

.bg--loginimg {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  min-height: 100vh;
  background: linear-gradient(180deg, $purple, $orange);
  z-index: -1;
  .zoom--img {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    margin: auto;
    opacity: 0.1;
    z-index: -2;
  }
  .img--login {
    width: 100vw;
    min-height: 100%;
    margin: auto;
  }
  .submit {
    padding-bottom: 20px;
    width: 500px;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(45, 85, 255, 0.4);
    border-radius: 20px;
    box-shadow: 0px 0px 4px $lightgrey_42;
    .title--framelogin {
      width: 64%;
      margin: auto;
      margin: 20px auto;
      font-family: $font_acme;
      font-size: 2.4rem;
      color: $whitesmoke;
      text-shadow: 2px 2px 1px $purple,
      4px 3px 2px $lightgrey_24;
    }
    .lbl--login {
      width: 64%;
      margin: auto;
      margin-top: 10px;
      font-family: $font_junction;
      font-size: 1.2rem;
      text-shadow: 1px 0px 1px $lightgrey_24;
    }
    .input--login {
      width: 60%;
      padding: 3px 10px;
      margin: auto;
      margin-top: 5px;
      font-family: $font_dejavu;
      font-size: 1.0rem;


      background-color: rgba(85, 45, 255, 0.2);
      border: 1mm inset rgba(150, 85, 255, 0.4);

      color: $whitesmoke;
      &::placeholder {
        color: #999;
      }
    }
    .btn--submitlogin {
      margin: auto;
      margin-top: 30px;
      padding: 3px 20px;
      font-family: $font_acme;
      font-size: 1.2rem;
      font-weight: bold;
      background: rgba(85, 45, 255, 0.6);
      border: 2mm groove $mediumpurple;
      border-radius: 5px;
      color: sandybrown;

      &:hover {
        background: rgba(85, 45, 255, 0.2);
        border: 2mm groove $mediumpurple;
        cursor: pointer;
        transform: scale(1.1);
        color: lightblue;
      }
      &:active {
        background: rgba(85, 45, 255, 0.4);
        border: 2mm groove $mediumpurple;
        transform: scale(0.9);
        color: white;
      }
    }
    .p--loginframe {
      width: auto;
      margin: auto;
      margin-top: 20px;
      font-size: 1.2rem;
      &:hover {
        transform: scale(1.2);
      }
    }

    .link--subscribe {
      text-decoration: none;
      color: $whitesmoke;
      text-shadow: 2px 1px 2px $lightgrey_24;
      &:hover {
        color: $orange;
        text-shadow: 0px 0px 0px $lightgrey_24;
      }
    }
    .error--message {
      width: 60%;
      margin: auto;
      padding: 5px 10px;
      font-size: 0.9rem;
      font-weight: bold;
      color: $orange;
      background-color: $lightgrey_28;
      border-radius: 5px;
    }
    .error {
      margin: 10px 70px;
      text-align: justify;
    }
  }
}

@media only screen and (max-width: 900px) {
  .bg--loginimg {
    .zoom--img {
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;

      margin: auto;
      opacity: 0.1;
      z-index: -2;
    }
    .img--login {
      width: 100vw;
      min-height: 100%;
      margin: auto;
    }
    .submit {
      padding-bottom: 20px;
      width: 300px;
      margin: auto;
      margin-top: 250px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;

      .title--framelogin {
        width: 64%;
        margin: auto;
        margin: 20px auto;
        font-family: $font_acme;
        font-size: 2.4rem;
      }
      .lbl--login {
        width: 64%;
        margin: auto;
        margin-top: 10px;
        font-family: $font_junction;
        font-size: 1.3rem;
        font-weight: bold;
      }
      .input--login {
        width: 60%;
        padding: 3px 10px;
        margin: auto;
        margin-top: 5px;
        font-size: 1.2rem;
      }
      .btn--submitlogin {
        margin: auto;
        margin-top: 30px;
        padding: 3px 20px;
      }
      .p--loginframe {
        width: auto;
        margin: auto;
        margin-top: 20px;
        font-size: 1.2rem;
        &:hover {
          transform: scale(1.2);
        }
      }
      .link--subscribe {
        text-decoration: none;
        color: $whitesmoke;
        text-shadow: 2px 1px 2px $purple;
        &:hover {
          color: $orange;
          text-shadow: 0px 0px 0px $purple;
        }
      }
      .error--message {
        width: 60%;
        margin: auto;
        padding: 5px 10px;
        font-size: 0.9rem;
        font-weight: bold;
        color: $orange;
        background-color: $lightgrey_28;
        border-radius: 5px;
      }
      .error {
        margin: 10px 70px;
        text-align: justify;
      }
    }
  }
}