body {
  background-color: #161616;
}

.zoom--img {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 1000px;
  margin: auto;
  z-index: -2;
}

.zoom--img img {
  width: 100%;
  margin: auto;
}

.submit {
  margin-top: 19%;
  margin-right: 30%;
  margin-left: 30%;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  background-color: rgba(45, 85, 255, 0.4);
  border: 2mm ridge royalblue;
  border-radius: 15px;
}

.submit label {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  font-family: 'Consolas';
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 2px 1px 1px purple;
}

.submit input {
  width: 60%;
  padding: 5px 10px;
  margin: auto;
  margin-top: 5px;
  font-size: 1.2rem;
  border: 3px inset royalblue;
}

.submit button {
  width: 30%;
  margin: auto;
  margin-top: 30px;
  padding: 5px 10px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: royalblue;
  border: 3px outset royalblue;
  border-radius: 15px;
}

.submit button:hover {
  background-color: dodgerblue;
  border: 3px outset dodgerblue;
  cursor: pointer;
  transform: scale(1.1);
  color: lightblue;
}

.submit button:active {
  background-color: royalblue;
  border: 3px outset royalblue;
  transform: scale(0.9);
  color: white;
}

.error--message {
  width: 60%;
  margin: auto;
  padding: 5px 10px;
  font-size: 1.0rem;
  font-weight: bold;
  color: cyan;
  background-color: #282828;
  border-radius: 5px;
}

.error {
  margin: 10px 70px;
  text-align: justify;
}


@media screen and (min-width: 370px) and (max-width: 412px) {
  .zoom--img {
    width: 400px;
    height: 400px;
    margin: auto;
  }
  .submit {
    margin-top: 60%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 400px) and (max-width: 999px) {
  .submit {
    margin-top: 67%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 1024px) {
  .zoom--img {
    width: 900px;
  }
  .submit {
    margin-top: 240px;
    margin-right: 30%;
    margin-left: 30%;
    font-size: 1.2rem;
  }
}
