$sandybrown: #f4a460;
$darkmagenta: #8B008B;
$whitesmoke: #f5f5f5;
$lightgrey_24: #242424;
$lightgrey_28: #282828;
$lightgrey_42: #424242;
$font_acme: 'Acme', sans-serif;
$font_dejavu: 'DejaVu Sans', sans-serif;
$font_junction: 'Junction', sans-serif;

@mixin width-margin($param1, $param2){
  width: $param1;
  margin: $param2;
}

@mixin font-styleone($family, $size, $color){
  font-family: $family;
  font-size: $size;
  color: $color;
}

@mixin font-styletwo($fam2, $size2, $color2){
  font-family: $fam2;
  font-size: $size2;
  font-weight: bold;
  color: $color2;
}

@mixin bg-border($bg, $border){
  background: $bg;
  border: $border;
}

.bg--loginimg {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  min-height: 100vh;
  background: linear-gradient(180deg,
    rgba(244,164,96, 1) -20%, rgba(195,87,116, 1) 200%);
  z-index: -1;
  .zoom--img {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    @include width-margin(100vw, auto);    
    opacity: 0.05;
    z-index: -2;
  }
  .img--login {
    width: 100vw;
    min-height: 100%;
    margin: auto;
  }
  .login {
    padding-bottom: 20px;
    @include width-margin(500px, auto);
    margin-top: 20%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, sandybrown -10%,
      rgba(195,87,116, 1) 100%);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(36, 36, 36, 0.4);
    .title--framelogin {
      @include width-margin(64%, 20px auto);
      @include font-styleone($font_acme, 2.4rem, $whitesmoke);
      text-shadow: 2px 2px 1px $darkmagenta,
      4px 3px 2px $lightgrey_24;
    }
    .lbl--login {
      @include width-margin(64%, auto);
      margin-top: 10px; 
      font-family: $font_junction;
      font-size: 1.2rem;
      text-shadow: 2px 1px 1px darkviolet;
    }
    .input--login {
      @include width-margin(60%, auto);
      margin-top: 5px;
      padding: 5px 5px;
      @include font-styleone($font_dejavu, 1.0rem, $whitesmoke);
      @include bg-border(rgba(244, 164, 96, 0.1),
        1mm inset rgba(244, 164, 96, 0.4));
      &::placeholder {
        color: #646464;
      }
      &:focus {
        padding: 8px 5px;
        @include bg-border(rgba(255,255,255, 0.2), none);
        outline: none;
      }
    }
    .btn--submitlogin {
      margin: auto;
      margin-top: 30px;
      padding: 3px 20px;
      @include font-styletwo($font_acme, 1.2rem, $sandybrown);
      @include bg-border(rgba(128, 0, 128, 0.6),
        1mm outset rgba(168, 0, 168, 0.6));
      outline: none;
      border-radius: 5px;
      &:hover {
        @include bg-border(rgba(138, 0, 138, 0.6),
          1mm outset rgba(168, 0, 168, 0.6));
        outline: none;
        cursor: pointer;
        color: lightgreen;
      }
      &:active {
        @include bg-border(rgba(128, 0, 128, 0.6),
          1mm inset rgba(128, 0, 128, 0.2));
        outline: none;
        transform: scale(0.9);
        color: white;
      }
    }
    .p--loginframe {
      @include width-margin(auto, auto);
      margin-top: 20px;
      font-size: 1.2rem;
      &:hover {
        transform: scale(1.2);
      }
    }
    .link--subscribe {
      text-decoration: none;
      color: $whitesmoke;
      text-shadow: 2px 1px 2px $lightgrey_24;
      &:hover {
        color: $sandybrown;
        text-shadow: 0px 0px 0px $lightgrey_24;
      }
    }
    .error--message {
      @include width-margin(60%, auto);
      padding: 5px 10px;
      @include font-styletwo($font_dejavu, 0.9rem, $sandybrown);
      background-color: $lightgrey_28;
      border-radius: 5px;
    }
    .error {
      margin: 10px 70px;
      text-align: justify;
    }
  }
}

@media only screen and (max-width: 900px) {
  .bg--loginimg {
    .login {
      margin-top: 50%;
      width: 80%;
    }
  }
}