$lightgreen: #90ee90;
$orange: #ffa500;
$purple: #800080;
$soft_blue: #50bcfe;
$slategray: #708090;
$lightgrey: #CDCDCD;
$lightgrey_24: #242424;
$font_dejavu: 'DejaVu Sans', sans-serif;
$font_junction: 'Junction', sans-serif;
$font_allura: 'Allura', cursive;

.saloon--byusers {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, 
    $purple, $orange);
  .title--services {
    margin-top: 120px;
    margin-left: 20px;
    font-family: $font_allura;
    font-size: 1.6rem;
    text-shadow: 2px 1px 1px #000;
    color: $lightgrey;
  }
  .divsection--saloon {
    width: 80%;
    margin: auto;
    margin-top: 3%;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1Fr 1Fr 1Fr 1Fr;
    grid-template-rows: 1Fr 1Fr 1Fr;
    margin-bottom: 40px;

    .titlebyroom {
      margin: auto;
      padding: 7px 0px;
      font-family: $font_junction;
      text-align: center;
      background: $purple;
      border-bottom: 1px solid $slategray;
      border-radius: 15px 15px 0px 0px;
      color: $lightgrey;
    }
    .section--saloon {
      background: #383838;
      border: none;
      border-radius: 15px 15px 0px 0px;
      box-shadow: 0 0 4px #000;

      .span--saloon {
        display: flex;
        font-family: $font_dejavu;
        background: $lightgrey_24;
        color: $soft_blue;
      }

      .user--imgsaloon {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid $slategray;
      }
      .img--saloon {
        margin: 0px 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      .useronline {
        width: 50%;
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        &--iconconnectected {
          font-size: 18px;
          color: lightgreen;
        }

        &--icondeconnectected {
          font-size: 18px;
          color: lightgreen;
        }
      }

      .askprivate--service {
        position: absolute;
        width: 15%;
        display: flex;
        justify-content: right;
        font-size: 22px;
        cursor: pointer;
        color: $orange;
        z-index: 3;
        &:hover {
          color: cyan;
        }
      }
      .lastspan--online {
        position: absolute;
        width: 18%;  
        display: flex;
        align-items: center;
        justify-content: right;
        font-size: 14px;
        font-family: $font_dejavu;
        font-weight: thin;
        color: $orange;

        .btn--lastspanonline {
          margin-left: 10px;
          padding: 2px 7px;
          font-size: 1.0rem;
          font-weight: bold;
          color: $lightgrey;
          background: linear-gradient(30deg,
            $purple, $orange);
          border: none;
          outline: none;
          border-radius: 50%;
          cursor: pointer;
          &:hover {
            background: $orange;
            color: $purple;
          }
          &:active {
            background: $purple;
            color: $lightgreen;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .saloon--byusers {
    .title--services {
      margin-top: 100px;
      margin-left: 10px;
    }
    .divsection--saloon {
      display: flex;
      flex-direction: column;
      .titlebyroom {
        padding-top: 10px;
        padding-bottom: 7px;
        margin: auto;
        font-family: $font_junction;
        text-align: center;
      }
      .section--saloon {
        .span--saloon {
        }
        .img--saloon {
          width: 30px;
          height: 30px;
          margin: 0px 10px;
          border-radius: 50%;
          object-fit: cover;
        }
        .font--online {
          font-size: 12px;
        }
        .askprivate--service {
          position: absolute;
          width: 65%;
          display: flex;
          justify-content: right;
          z-index: 3;
        }
        .lastspan--online {
          position: absolute;
          width: 75%;  
          display: flex;
          align-items: center;
          justify-content: right;
          font-size: 14px;
          font-family: $font_dejavu;
          font-weight: thin;
        }
      }
    }
  }
}