$purple: #800080;
$sandybrown: #f4a460;
$slategray: #708090;
$lightgrey_24: #242424;
$lightgrey_28: #282828;
$lightgrey_38: #383838;
$lightgrey_48: #484848;
$lightgrey_42: #424242;
$lightgrey_52: #525252;
$whitesmoke: #f5f5f5;
$lightgreen: #90ee90;
$font_allura: "Allura", cursive;
$font_acme: 'Acme', sans-serif;
$font_dejavu: "DejaVu Sans", sans-serif;

@mixin display-flex-align-content($justify){
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: $justify;
}

@mixin width-margin($params1){
  width: $params1;
  margin: auto;
}

@mixin width-margin-font(){
  width: 500px;
  margin: auto;
  margin-bottom: 5px;
  font-size: 0.5rem;
}

@mixin width-height($width, $height){
  width: $width;
  height: $height;
}

@mixin margin-width($right, $width){
  margin-right: $right;
  width: $width;
}

@mixin bg-bd-color($bg, $bd, $color){
  background: $bg;
  border: $bd;
  color: $color;
}

@mixin bg-bd-radius($bg, $bd, $radius){
  background: $bg;
  border: $bd;
  border-radius: $radius
}

@mixin font-style($family, $size){
  font-family: $family;
  font-size: $size;
  color: $whitesmoke;
}

@mixin params-user($size-font, $bg){
  width: 900px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $font_dejavu;
  font-size: $size-font;
  background: $bg;
  border-radius: 7px;
  box-shadow: 0px 0px 4px $slategray;
}

.profile {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg,
    rgba(244,164,96, 1) 10%, rgba(195,87,116, 1) 100%);
  z-index: -1;
  .div--mainimgprofile {
    @include width-margin(100%);
    color: $whitesmoke;
    .img--bgprofile {
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      @include width-height(100%, 100%);
      margin: auto;
      opacity: 0.05;
      z-index: -2;
    }
  }
  .maintitlepro {
    margin: auto;
    margin-top: 90px;
    @include display-flex-align-content(left);
    @include font-style($font_allura, 1.6rem);
    .maintitlepro--h1title {
      margin-left: 20px;
      text-shadow: 2px 1px 1px $lightgrey_24;
    }
    .maintitlepro--h1name {
      margin-left: 20px;
      color: $purple;
    }
  }
  .yourprofile {
    @include width-height(700px, 180px);
    margin: auto;
    margin-top: 0px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    .yourprofile--divimg {
      @include width-height(300px, 180px);
      .yourprofile--img {
        border-radius: 7px 0px 0px 7px;
      }
    }
    .yourprofile--section {
      @include width-height(400px, 180px);
      padding-left: 20px;
      font-family: $font_dejavu;
      @include bg-bd-color($lightgrey_28,
        0px 7px 7px 0px, $whitesmoke);
      .yourprofile--h2 {
        margin-bottom: 20px;
        font-size: 1.4rem;
      }
      .yourprofile--p {
        font-size: 1.0rem;
      }
    }
  }
  .tweekGroup--friends {
    @include width-margin(99%);
    display: flex;
    color: $whitesmoke;
    .div--profileh4 {
      @include width-margin(900px);
      margin-bottom: 20px;
      @include display-flex-align-content(space-between);      
      .titleh4--profile {
        margin: auto 0px;
        @include font-style($font_allura, 1.8rem);
      }
      .btn--refreshgroup {
        padding-top: 3px;
        padding-right: 10px;
        padding-bottom: 3px;
        padding-left: 10px;
        @include font-style($font_acme, 1.0rem);
        @include bg-bd-radius($lightgrey_38,
          1mm outset $lightgrey_52, 7px);
        &:hover {
          @include bg-bd-color($lightgrey_42,
            1mm ouset $lightgrey_48, $sandybrown);
        }
        &:active {
          transform: scale(0.9);
          @include bg-bd-color($lightgrey_24,
            1mm inset $lightgrey_38, $lightgreen);
        }
      }
    }
  }
  .div--titleusersgroup {
    @include params-user(1.0rem, $lightgrey_24);
    font-weight: bold;
    color: $sandybrown;
    .p--profile0 {
      margin-left: 60px;
    }
    .p--profile1 {
      @include margin-width(10px, 100px);
    }
    .p--profile2 {
      @include margin-width(10px, 120px);
    }
    .p--profile3 {
      @include margin-width(10px, 35px);
    }
    .p--profile4 {
      @include margin-width(15px, 67px);
    }
    .p--profile5 {
      @include margin-width(10px, 250px);
    }
    .p--profile6 {
      @include margin-width(10px, 150px);
    }
  }
  .div--usersgroup {
    @include params-user(0.9rem, $lightgrey_28);    
    .img--profileusers {
      margin-right: 13px;
      margin-left: 10px;
      border-radius: 50% 50%;
      object-fit: cover;
    }
    .p--profile1 {
      @include margin-width(10px, 125px);
    }
    .p--profile2 {
      @include margin-width(10px, 145px);
    }
    .p--profile3 {
      @include margin-width(10px, 40px);
    }
    .p--profile4 {
      @include margin-width(10px, 80px);
    }
    .p--profile5 {
      @include margin-width(10px, 300px);
    }
    .p--profile6 {
      @include margin-width(10px, 150px);
    }
    .btn--deletefromgroup {
      margin-right: 10px;
      padding: 3px 10px;
      @include bg-bd-radius(linear-gradient(180deg, $purple, $sandybrown),
        1px solid $sandybrown, 5px);
      color: lightgrey;
      cursor: pointer;        
      &::before {
        content: "";
      }
      &::after {
        content: "Delete";
      }
      &:hover {
        background: $sandybrown;
        color: $lightgrey_24;
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 900px) {
  .profile {
    .div--mainimgprofile {
      display: none;
      .img--bgprofile {
        display: none;
      }
    }
    .maintitlepro {
      .maintitlepro--h1title {
        font-size: 2.2rem;
      }
      .maintitlepro--h1name {
        font-size: 2.2rem;
      }
    }
    .yourprofile {
      @include width-height(400px, 100px);
      margin: auto;
      margin-bottom: 20px;
      .yourprofile--divimg {
        @include width-height(200px, 100px);
        .yourprofile--img {
          margin: auto;
          object-fit: cover;
        }
      }
      .yourprofile--section {
        @include width-height(200px, 100px);
        .yourprofile--h2 {
          font-size: 0.9rem;
          margin-bottom: 0px;
        }
        .yourprofile--p {
          margin-top: 7px;
          margin-bottom: 0px;
          font-size: 0.7rem;
        }
      }
    }
    .tweekGroup--friends {
      @include width-margin(500px);
      .div--profileh4 {
        .titleh4--profile {
        }
        .btn--refreshgroup {
          padding: 2px 5px;
          font-size: 0.7rem;
        }
      }
    }
    .div--titleusersgroup {
      @include width-margin-font();
      .p--profile0 {
        margin-left: 60px;
      }
      .p--profile1 {
        @include margin-width(10px, 100px);
      }
      .p--profile2 {
        @include margin-width(10px, 120px);
      }
      .p--profile3 {
        @include margin-width(10px, 35px);
      }
      .p--profile4 {
        @include margin-width(15px, 67px);
      }
      .p--profile5 {
        @include margin-width(10px, 250px);
      }
      .p--profile6 {
        @include margin-width(50px, 150px);
      }
    }
    .div--usersgroup {
      @include width-margin-font();
      .img--profileusers {
      }
      .p--profile1 {
        @include margin-width(10px, 100px);
      }
      .p--profile2 {
        @include margin-width(10px, 100px);
      }
      .p--profile3 {
        @include margin-width(10px, 40px);
      }
      .p--profile4 {
        @include margin-width(10px, 80px); 
      }
      .p--profile5 {
        @include margin-width(10px, 300px);
      }
      .p--profile6 {
        @include margin-width(10px, 150px);
      }
      .btn--deletefromgroup {
        &::before {
          content: "";
        }
        &::after {
          content: "D";
        }
      }
    }
  }
}